<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<head>
		<title>Eventos App</title>
		<meta charset="utf-8">
	</head>
	
	<body>
		<h3>Cadastro de Eventos</h3>
		<form method="post">
			<div>
				<label>Nome:</label>
				<input type="text" value="" name="nome"/>
				
				<label>Local:</label>
				<input type="text" value"" name="local"/>
				
				<label>Data:</label>
				<input type="date" value"" name="data"/>
				
				<label>Horário:</label>
				<input type="text" value"" name="horario"/>
				
				<button type="submit">Salvar</button>
				
			</div>
		</form>
	</body>
</html>